#include <iostream>
#include<bits/stdc++.h>
using namespace std;
int fib(int n){ 
     if( n==1 || n==0){
     return n;
        }
   
       int l =fib(n-1);
       int s = fib(n-2);
      
    
  return l+s;}
        
int main() {
  int n;
   cin>>n;
  cout<<fib(n);    
  }
